{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Usuários{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
    <h1>Editar Usuário</h1>
</div>

<div class="container">
    <form id="user-form" class="gt-form" action="/usuarios/{{ usuario['id'] }}" method="POST">
        <label for="name">Nome</label>
        <input type="text" name="name" value="{{ usuario['nome'] }}">
        <label for="email">Email</label>
        <input type="text" name="email" value="{{ usuario['email'] }}">
        <label for="cpf">CPF</label>
        <input type="text" data-validate="cpf" name="cpf" value="{{ usuario['cpf'] }}">
        <label for="phone">Telefone</label>
        <input type="text" data-validate="brPhone" name="phone" value="{{ usuario['phone'] }}">
        <label for="is_activated">Ativo</label>
        <select name="is_activated">
            <option value="true" {% if usuario['is_activated'] %}selected{% endif %}>Sim</option>
            <option value="false" {% if not usuario['is_activated'] %}selected{% endif %}>Não</option>
        </select>
    </form>
    <input class="btn success" type="submit" value="Salvar" form="user-form">
    <a class="btn danger" href="/usuarios">Cancelar</a>
</div>

{% endblock %}