{% extends 'base.html' %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/dataTables.min.css') }}">
    <h1>{% block title %}Usuários{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <a class="btn success" href="/usuarios/novo">Novo</a>
        <br><br>

        <table id="usuarios-table" class="gt-table striped hovered">
            <thead>
                <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>CPF</th>
                <th>Ativo</th>
                <th>Ações</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario['nome'] }}</td>
                    <td>{{ usuario['email'] }}</td>
                    <td>{{ usuario['phone'] }}</td>
                    <td>{{ usuario['cpf'] }}</td>
                    <td>{% if usuario['is_activated'] %}Sim{% else %}Não{% endif %}</td>
                    <td>
                        <a class="action success" href="/usuarios/{{ usuario['id'] }}">Editar</a>
                        <a class="action danger" href="/usuarios/delete/{{ usuario['id'] }}">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.7.1.slim.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/dataTables.min.js') }}" defer></script>
    <script type="text/javascript" defer>
        $(document).ready(function() {
            $('#usuarios-table').DataTable({
                "language": {
                'search': 'Buscar',
                'lengthMenu': 'Mostrando _MENU_ registros por página',
                'zeroRecords': 'Nenhum registro encontrado',
                'info': 'Mostrando página _PAGE_ de _PAGES_',
                'infoEmpty': 'Nenhum registro encontrado',
                'infoFiltered': '(Filtrado de _MAX_ registros no total)'
            }})
        })
    </script>
{% endblock %}