{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Livros{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
    <h1>Editar Livro</h1>
</div>

<div class="container">
    <form class="gt-form" action="/livros/{{ livro['id'] }}" method="POST" accept="application/json">
        <label for="title">Título</label>
        <input type="text" name="title" value="{{ livro['title'] }}">
        <label for="author">Autor</label>
        <input type="text" name="author" value="{{ livro['autor'] }}">
        <label for="editor">Editora</label>
        <input type="text" name="editor" value="{{ livro['editor'] }}">
        <label for="publish_year">Ano de publicação</label>
        <input type="text" name="publish_year" value="{{ livro['publish_year'] }}">
        <label for="isbn">ISBN</label>
        <input type="text" name="isbn" value="{{ livro['isbn'] }}">
        <label for="category">Categoria</label>
        <input type="text" name="category" value="{{ livro['category'] }}">
        <label for="localization">Localização</label>
        <input type="text" name="localization" value="{{ livro['localization'] }}">
        <input class="btn success" type="submit" value="Salvar">
    </form>
    <a class="btn danger" href="/livros">Cancelar</a>
</div>

{% endblock %}